{% extends 'base.html' %}
{% load meusfiltros %}

{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>Listagem de clientes</h3>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}">{{ person.nome_completo|title }}</a>
                        <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>
                {% empty %}
                    Nenhum cliente cadastrado!
                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a>
            <a href="{% url 'person_list_cbv' %}" class="btn btn-primary"> Nova List</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username|upper }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>

            {% endif %}
        </div>
    </div>
    </br>
    {{ 1234444323.349|arredonda:2 }}
    </br>
    {{ 1234444323.349|moeda:2 }}
    </br>
    {% if persons|length >= 3 %}
    Você já tem muitos clientes! Parabéns!
    {% endif %}
    </br>   
    {% filter force_escape|lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
    {% endfilter %}

{% endblock %}

{% block footer %}
    {% include 'clientes/footer.html' %}
{% endblock %}